<p id="notice"><%= notice %></p>

<div class="container">
<div class="jumbotron">
  <h1>Fraudeshn</h1>
  <p>Pagina para recopilar toda la evidencia de 
  fraude en las elecciones generales de Honduras 2017.
  </p>
</div>


<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Titulo</th>
      <th>Donde</th>
      <th>Descripcion</th>
      <th>Links</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fraudes.each do |fraude| %>
      <tr>
        <td><%= fraude.titulo %></td>
        <td><%= fraude.donde %></td>
        <td><%= fraude.descripcion %></td>
        <td><%= fraude.links %></td>
        <td><%= link_to 'Show', fraude %></td>
        <td><%= link_to 'Edit', edit_fraude_path(fraude) %></td>
        <td><%= link_to 'Destroy', fraude, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

