<p id="notice"><%= notice %></p>

<div class="container">
<div class="jumbotron">
  <h1>Fraudeshn</h1>
  <p class="text-success">Fraudes hasta el momento: <%=@fraudes.count%></p>
  <p>Pagina para recopilar toda la evidencia de
  fraude en las elecciones generales de Honduras 2017.
  </p>
  <p>Manda informacion o consultas a: fraudeshn@protonmail.com</p>
  <% if current_user%>
  <a class="btn btn-primary" href="/fraudes/new" role="button">Agregar Fraude</a>
  <%end%>
</div>

<div class="container">
  <table class="table table-hover table-sm table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th>Titulo</th>
        <th>Donde</th>
        <th>Descripcion</th>
        <th>Links</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @fraudes.each do |fraude| %>
        <tr>
          <td><%= fraude.titulo %></td>
          <td><%= fraude.donde %></td>
          <td><%= fraude.descripcion %></td>
          <td><a href="<%= fraude.links %>"><%= fraude.links %></a></td>
          <td><%= link_to 'Ver mas', fraude, class: "btn btn-info" %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

</div>




<br>
</div>
