<!DOCTYPE html>
<html>
  <head>
    <title>Listfraud</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="alert alert-info" role="alert">
      <% if current_user %>
        Hola!!!! <b><%=current_user.email%><b> &nbsp; &nbsp;
            <%= link_to '<b>Salir</b>'.html_safe, destroy_user_session_path, :method => :delete %>
      <%else%>
      Visita, bienvenido.
      <%end%>
    </div>
    <%= yield %>
  </body>
</html>
